{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="1000">
          <img src="{% static 'images/lms3.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img src="{% static 'images/lms1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img src="{% static 'images/lms4.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img src="{% static 'images/lms2.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
 


{% endblock content %}



